body {
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    gap: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

#tabHeadings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;

}

.button {
    border: 2px solid white;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #fff;
    color: #222;
    transition: 0.2s;
}